<div id="comments-widget-of-commentable-<%= commentable.id %>" class="comments-widget">
  <ul class="comments-list">
    <%= render commentable.comments.where(parent: nil).order("created_at ASC") %>
  </ul>
  <!-- comment-form -->
  <% if current_user %>
    <%= render "comments/form", comment: commentable.comments.build  %>
  <% else %>
    <p>Only registered user can leave messages. Please <%= link_to "login", root_path %>. </p>
  <% end %>
</div>
